

.logofont {
    font-family: "Audiowide", sans-serif;
  }

.scatterTimeline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  opacity: .95;
  z-index: 0;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Press Start 2P", cursive;
  background: url('./nba8bit.jpg');
  background-attachment: fixed;
  background-position: center;
}

header {
  font-family: "Press Start 2P", cursive;
}

.axis {
  color: white;
}

.averages {
  background-color: black;
  opacity: .98;
  color: white
}

.btn {
  color: white;
  background-color: red;
}

.btn:hover {
  background-color: red;
}

.modal {
  background-color: black;
}

.modal-close {
  color: white;
  margin: auto;
  text-align: center;
}

.category {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    fill: white			
}

.selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select {
  width: 50%;
}

.comparison{
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.comparison_header {
  color: white;
  background-color: black;
  margin: auto;
  margin-bottom: 15px;
  
}

.comparison_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  opacity: .95
}
